<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductsInfo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58391/ProductsInfo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductsInfo" contract="ProductsInfo.IProductsInfo"
                name="BasicHttpBinding_IProductsInfo" />
        </client>
    </system.serviceModel>
</configuration>