<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tp1ServletGroup02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Formulaire</display-name>
    <servlet-name>Formulaire</servlet-name>
    <servlet-class>Formulaire</servlet-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formulaire</servlet-name>
    <url-pattern>/Formulaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form</display-name>
    <servlet-name>Form</servlet-name>
    <servlet-class>Form</servlet-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Identification</display-name>
    <servlet-name>Identification</servlet-name>
    <servlet-class>Identification</servlet-class>
        <init-param>
      <param-name>count</param-name>
      <param-value>0</param-value>
  	    </init-param>
  	
  </servlet>
  <servlet-mapping>
    <servlet-name>Identification</servlet-name>
    <url-pattern>/Identification</url-pattern>
  </servlet-mapping>
</web-app>