<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeManagerV1.0</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TraitementEmploye</display-name>
    <servlet-name>TraitementEmploye</servlet-name>
    <servlet-class>ma.jberrich.controller.TraitementEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraitementEmploye</servlet-name>
    <url-pattern>/TraitementEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>ma.jberrich.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home.jsp</url-pattern>
  </servlet-mapping>
</web-app>